<form name="userForm">
  <div class="form-group col-md-4" ng-class="{ 'has-error': userForm.email.$invalid }" >
  	<label for="first">First Name</label>
    <input type="text" class="form-control" name="first" ng-model="user.first_name" required /><br>
    <p class="alert alert-warning" ng-show="userForm.first.$invalid">You must submit your first name.</p>
    <label for="last">Last Name</label>
    <input type="text" class="form-control" name="last" ng-model="user.last_name" required /><br>
    <p class="alert alert-warning" ng-show="userForm.last.$invalid">You must submit your last name.</p>
    <label for="gender">Gender</label>
    <select class="form-control" ng-model="user.gender" ng-options="x for x in genders"></select>
    <label for="last">Age</label>
    <input type="number" class="form-control" name="age" ng-model="user.age" min="1"  /><br>
    <p class="alert alert-warning" ng-show="userForm.age.$invalid">You age can not less than 1.</p>
    <label for="country">Country</label>
    <input type="text" class="form-control" name="country" ng-model="user.address.country"  /><br>
    <label for="address_1">Address 1</label>
    <input type="text" class="form-control" name="address_1" ng-model="user.address.address_1"  /><br>
    <label for="address_2">Address 2</label>
    <input type="text" class="form-control" name="address_2" ng-model="user.address.address_2"  /><br>
    <button class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="update()">Update</button>
  </div>
</form>
