<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age, min: 1 %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= select(:user, :gender, [['Male', 'male'], ['Female', 'female'], ['Others', 'others']]) %>
  </div>
  <%= f.fields_for :address  do |builder| %>
    <%= builder.label :country %><br>
    <%= builder.text_field :country %><br>
    
    <%= builder.label :address_1 %><br>
    <%= builder.text_field :address_1 %><br>
    
    <%= builder.label :address_2 %><br>
    <%= builder.text_field :address_2 %><br>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
