<div ng-controller="UsersController">
  <h2>User</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Country</th>
        <th>Address 1</th>
        <th>Address 2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ user.first_name }}</th>
        <th>{{ user.last_name }}</th>
        <th>{{ user.age }}</th>
        <th>{{ user.gender }}</th>
        <th>{{ user.address.country }}</th>
        <th>{{ user.address.address_1 }}</th>
        <th>{{ user.address.address_2 }}</th>
      </tr>
    </tbody>

  </table>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>